.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-user {
    display: flex;
    align-items: center;
}

#logout-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
